[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
openai = "*"
tiktoken = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
